*{font-family: 'Lato', sans-serif;}


#container {
	width: 750px;
	margin: 0 auto; 
	float: left;

}


header {
	margin-top: 24px;
	margin-bottom: 24px;

}

h1 a {
	color: #fa1017;
	font-weight: lighter;


}

h2 a {
	font-weight: lighter;
	color: black;
}


nav {
	color: lightgrey;


}


h3{
	color: lightgrey;

}


	
}

img {
	width: 750px;

}




p:first-letter { float: left; color: #903; font-size: 75px; line-height: 60px; 
	padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: Georgia; }


h4 a {
	color: red;
	text-align: right;
}



hr {
	border: none;
	background-color: #ccc;
	color: black;
	height: 1px;
}




footer ul a {
	color: red;
	padding: 0 10px;
	border-right: solid 1px black;

}


footer ul a:last-child {
	border-right: 0;

}

#sidebar {
	float: right;
}
	
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}






